<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home&Search Metrics</title>
    <link rel="stylesheet" href="../../assets/style.css">
</head>
<body>
    <div id="sidebar">
        <ul>
            <li><a href="#" id="link-project">Project Metrics</a></li>
            <li><a href="#" id="link-quality">Quality Metrics</a></li>
        </ul>
    </div>
    <div id="content">
        <!-- Content will be loaded here dynamically -->
        <iframe id="content-frame" src="../views/project.html" frameborder="0" style="width: 100%; height: 100%;"></iframe>
    </div>

    <script defer src="../renderer/mainRenderer.js"></script>
</body>
</html>
