body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
}

#content {
    flex: 1;
    /* padding: 20px; */
}

/* Simple CSS spinner */
.spinner-border {
    width: 3rem;
    height: 3rem;
    border-width: 0.4em;
}

/* Floating loading spinner */
#loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1050; /* Ensure it's on top of other content */
    display: none; /* Initially hidden */
}

.header-container {
    display: flex;
    align-items: center;
}

.header-container h1 {
    margin-right: 10px; /* Adjust the spacing between the heading and the link */
}

.top-nav {
    position: fixed;
    top: 0;
    padding: 10px 20px 10px 20px;
    width: 100%;
    background-color: #333;
    display: flex;
    justify-content: space-between; /* Space between left and right sections */
    padding: 10px 20px 10px 20px;
}

.nav-left {
    display: flex; /* Align children horizontally */
    /* padding-left: 20px; */
}

.nav-right {
    display: flex;
    justify-content: flex-end; /* Align children to the right */
    /* padding-right: 20px; */
}

.top-nav button {
    background-color: #444;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

.top-nav button.active {
    background-color: #007bff; /* Example active color */
    color: #fff; /* Change text color for active state */
}

.top-nav button:hover {
    background-color: #007bff;
}

.container-fluid {
    padding-top: 90px !important;
    padding-left: 20px;
}